.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--navbar-width);
	background-color: var(--inverted-bg-color);
	position: relative;
	transition: width 0.3s;
	flex: 1 0 auto;
}

.items {
	margin: 15px 0 0 30px;
	display: flex;
	flex-direction: column;
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 10px 30px;
}

.collapsed {
	width: var(--navbar-width-colapsed);

	.switchers {
		flex-direction: column;
		align-items: center;
	}
}

.collapseBtn {
	position: absolute;
	right: -32px;
	bottom: 32px;
}
