.item {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}

.link {
	display: block;
	transition: 0.2s;
}

.icon {
	fill: transparent;
}

.collapsed {
	.link {
		display: none;
	}
}
