.app_dark_theme {
	--bg-color: #252525;
	--inverted-bg-color: #24484e;
	--primary-color: #e1e3e7;
	--secondary-color: #b0b0b0;
	--inverted-primary-color: #000;
	--inverted-secondary-color: #171717;

	// skeleton
	--skeleton-color: #24484e;
	--skeleton-shadow: #1c383d;

	// code
	--code-bg: #333;

	transition: background-color 0.3s;
}
