:root { // .app_light_theme
	--bg-color: #fdfdfd;
	--inverted-bg-color: #24484e;
	--primary-color: #000;
	--secondary-color: #171717;
	--inverted-primary-color: #e1e3e7;
	--inverted-secondary-color: #b0b0b0;

	// skeleton
	--skeleton-color: #e1e3e7;
	--skeleton-shadow: #b0b0b0;

	// code
	--code-bg: #fff;

	// card
	--card-bg: #cecece;

	transition: background-color 0.3s;
}
