.StarRating {
	display: flex;
	gap: 5px;

	.hovered {
		fill: var(--primary-color);
	}
}

.StarRatingRedesigned {
	display: flex;
	gap: 5px;

	.normal {
		fill: none;
	}

	.hovered {
		fill: var(--icon-redesigned);
	}
}

.normal {
	fill: none;
}

.selected {
	cursor: auto;
}

.StarIcon {
	cursor: pointer;
}
